@model IEnumerable<Week6_WardrobeMVC.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesOccasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoriesPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoriesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoriesType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoriesColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoriesSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoriesOccasion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoriesPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessoriesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessoriesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoriesID })
        </td>
    </tr>
}

</table>
